<!DOCTYPE html>
<html>
  <head>
    <title>EasyMovies</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<p class="notice" style="<%= "display: none;" if notice.nil? %>"><%= notice %></p>
    <p class="alert" style="<%= "display: none;" if alert.nil? %>"><%= alert %></p>
	
	<header>
		<nav>
			<ul class="nav nav-tabs">
				<li>
					<%= link_to "Inicio", root_path %>
				</li>
				<% if usuario_signed_in? %>
					<li>
						<%= link_to "Editar perfil", edit_usuario_session_path(current_usuario) %>
					</li>
					<li>
						<%= link_to "Cerrar sesión", destroy_usuario_session_path, method: :delete %>
					</li>
				<% else %>
					<li>
						<%= link_to "Ingresar", new_usuario_session_path %>
					</li>
					<li>
						<%= link_to "Registrar", new_usuario_registration_path %>
					</li>
				<% end %>
			</ul>
		</nav>
	</header>

    <%= yield %>
  </body>
</html>
